html {
  scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: 'Monda', sans-serif;
	background: #EDEEE9;
	font-family: 'Heebo Light', sans-serif;
}

.page {
	margin: 0 10vw 120px 10vw
}

.header-image {
	width: 100%;
}

.svg-button {
	position: fixed;
	bottom: 30px;
	width: 16%
}

.svg-button:hover {
	transform: scale(1.2);
}

.svg-button-0 {
	left: 10%
}

.svg-button-1 {
	left: 26%
}

.svg-button-2 {
	left: 42%
}

.svg-button-3 {
	left: 60%
}

.svg-button-4 {
	left: 74%
}

.text-box {
	position: absolute;
	width: 70%;
	top: 0;
}

.footnote {
	font-size: 14pt;
	padding-top: 5px;
	color: #CB3F17
}

.header-1 {
	font-size: 35pt;
	color: #CB3F17;
	margin-top: 50px;
}

.header-2 {
	font-size: 28pt;
	margin-top: 20px; 
	color: #CB3F17
}

.content {
	font-size: 16pt;
	margin-top: 10px;
	color: #CB3F17
}

.content-sidebar {
	width: 70%;
}

.media-sidebar {
	width: 30%;
}