html {
  scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: 'Monda', sans-serif;
	background: #EDEEE9;
	font-family: 'Heebo Light', sans-serif;
}

.page {
	margin: 0 10vw 120px 10vw
}

.header-image {
	width: 100%;
}

.svg-button {
	position: fixed;
	bottom: 30px;
	width: 16%
}

.svg-button:hover {
	transform: scale(1.2);
}

.svg-button-0 {
	left: 10%
}

.svg-button-1 {
	left: 26%
}

.svg-button-2 {
	left: 42%
}

.svg-button-3 {
	left: 60%
}

.svg-button-4 {
	left: 74%
}

.text-box {
	position: absolute;
	width: 70%;
	top: 0;
}
